.login-img img{
    height: 26vh;
}
.Loginform {
   place-items: center;
}
.Loginform h1{
    font-size: 5rem;
    margin-left: 50px;
    font-family: inherit;
    
} 

.wixelsign-cont{
    background: linear-gradient(to bottom, #90EE91, #A7F1A8, #BFF4BE, #D6F6D5, #EDF9EB);

    padding-top: 100px;
    padding-bottom: 100px;
}

.wixelsign-cont1{
    place-self: center;
   padding: 10px 0px 0px 0px;
    border-radius: 20px;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    
   
}

.wixelsign-cont1 p{
    font-size: 3rem;
    margin-bottom: 20px;
    
}


.wixelsign-text p{
    font-size: 1rem;
    color: gray;
}
.wixelsign-text a{
    text-decoration: none;
}
.wixelsign-btn{
    width: 500px;
    margin-top: 30px;
    font-size: 1.2rem;
    height: 8vh;
    margin-left: 50px;
}
.wixelsign-btn img{
    padding-right: 60px;
    width: 90px;
}

.wixelsign-input{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 300px;
    height: 9vh;
    padding-left: 20px;
    border-radius: 5px;
    font-size: 1rem;
    margin-left:110px;
}
.wixelsign-input-btn{
    width: 300px;
    height: 7vh;
    background-color: blue;
    color: whitesmoke;
    border-radius: 40px;
    font-size: 1.1rem;
    margin-left:110px;
    
}

.wixelsign-input-cont{
    border-bottom: 1px solid #afcee2;
    line-height: normal;
     
    padding: 20px;
    width:100%;
}
.wixelsign-text-pera p{
    font-size: 1.2rem;
    margin-top: 13px;
    color: gray;
    font-family: var(--wds-font-family-default, var(--wsr-font-family, Madefor, "Helvetica Neue", Helvetica, Arial, "\30E1\30A4\30EA\30AA", "meiryo", "\30D2\30E9\30AE\30CE\89D2\30B4 pro w3", "hiragino kaku gothic pro", sans-serif));
}
.wixelsign-text-pera a{
    color: black;
}
.sign-btn button{
    margin-left: 60px;
    width: 350px;
    height: 8vh;
    font-size: 1.5rem;
    background-color: chocolate;
    color: whitesmoke;
    border-radius: 50px;
    margin-top: 40px;
    border-style: none;
}
.sign-btn p{
    color: grey;
    margin-top: 30px;
    margin-left: 60px;
    font-size: 1.8rem;
}
.sign-btn a{
    text-decoration: none;
    color: chocolate;
   
    font-size: 1.9rem;
}
.lg p{
   font-size: 2rem;
    padding-top: 20px;
    padding-left: 20px;
    
}

.lg a{
    text-decoration: none;
}
@media only screen and (max-width: 680px) {
 .wixelsign-btn{
    width: 350px;
    margin-top: 30px;
    font-size: 1.2rem;
    height: 8vh;
    margin-left: 50px;
}
.Loginform h1{
    font-size: 3rem;
    margin-left: 50px;
    font-family: inherit;
    
} 
.login-img img{
    height: 24vh;
}
.wixelsign-cont1{
    place-self: center;
   padding: 20px 40px;
    border-radius: 20px;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    
   
}
}
