.Privacy{
    background-color:#073143;
    padding-top: 30px;
    padding-left: 20px;
    height: auto;
    padding-bottom: 150px;
}
.Privacy-img img{
    width: 65vw;
    
   
}
.Privacy-img{
    place-self: center;
}
.privacy-terms{
    margin-top: 20px;
    color: gray;
    font-size: 1.3rem;
    padding-left: 10px;
    padding-right: 20px;
}
.privacy-terms p{
    margin-bottom: 10px;
}