.register{
    place-items: center;
}
.register h1{
    font-size: 3rem;
    font-family: inherit;
    margin-bottom: 60px;
}
.signup-container{
    
    place-items: center;
}
  
  .signup-cont h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    font-family: madefor-display, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
  
  }
  .signup-cont p {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 3/0px;
    font-size: 1rem;
    font-family: madefor-display, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
   color: grey;
  }
  .signup-cont a{
    text-decoration: none;
    color: #0056b3;
  }
  
  .signup-form {
   
    display: flex;
    
   
    flex-direction: column;
    width: 550px;
    
  }
  
  .signup-form label {
    margin-bottom: 15px;
    font-weight: bold;
    color: gray;
  }
  
  .signup-form input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 75vw;
    box-sizing: border-box;
    height: 9vh;
    color: gray;
    font-size: 1.6rem;
    padding-left: 20px;
  }
  
  .signup-form button {
    margin-top: 20px;
    padding: 10px;
    background-color:chocolate;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 10vh;
    font-size: 2rem;
    border-radius: 50px;
    width: 75vw;
  }
  .back-link {
      color: black;
      text-decoration: none;
      font-size: 3rem;
  }
  
  
  
  .success-message {
    text-align: center;
    color: green;
    font-weight: bold;
  }
  .google-link{
    width: 250px;
    height: 10vh;
   background-color:chocolate;
   color: whitesmoke;
   font-size: 1rem;
  }
  .facebook-link{
    width: 250px;
    height: 10vh;
    background-color: #0056b3;
   margin-top: 20px;
   color: whitesmoke;
   font-size: 1rem;
  }

  .signup-Link ul{
      list-style: none;
  }

  .signup-Link{
    border-left: 1px solid #afcee2;
    line-height: 90px;
    
   padding-left: 140px;
   padding-right: 140px;
   padding-bottom: 50px;
   padding-top: 100px;
    
  }
  .signup-Link img{
    padding-right: 30px;
  }

  .register p{
    font-size: 2.5rem;
    color: grey;
    margin-top: 40px;
  }
  .register-image img{
    width: 30vw;
    
    
  }
  .register-image {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
  }
.logo-image{
   
    margin-top: 20px;
   
    
}
 @media only screen and (max-width: 780px) {
    .signup-form {
   
    display: flex;
    
   
    flex-direction: column;
    width: 65vw;
    
  }
  .register-image img{
    width:60px;
    height: 4vh;
    margin-top: 50px;
    margin-left: 20px;
  }
  .register h1{
    font-size: 2rem;
    font-family: inherit;
    margin-bottom: 60px;
}
  .signup-form button {
    
    width: 75vw;
    
  }
}