.terms{
    background-color: #073143;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 50px;
}
.upcoming-peras p{
   color: whitesmoke;
   font-size: 2rem;
   margin-bottom: 40px;
}
.upcoming-peras a {
    text-decoration: none;
}
.terms-pera p{
    margin-top: 13px;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
color: gray;
margin-right: 20px;
margin-left: 10px;
}