.upcoming{
    background-color:#073143 ;
    color: whitesmoke;
    padding-bottom: 50px;
    padding-top: 50px;
}
.upcoming-pera p{
padding-bottom: 60px;
   font-family: sans-serif;
   font-size: 2rem;
   color: chocolate;
   
}

.upcoming-pera a{
    color: whitesmoke;
    text-decoration: none;
}
.upcoming-cont{
      margin-top: 20px;
    margin-left: 30px;
    position: relative;
    margin-bottom: 30px;
    
}
.upcoming-peras{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upcoming-cont img{
     width: 90vw;
    height: 30vh;
    border-radius: 20px;
    display: block;
}
.booking-btn{
    width: 22vw;
    height: 6vh;
    background-color: chocolate;
    color: whitesmoke;
    font-size: 1.5rem;
    margin-right: 50px;
    border-radius: 10px;
}
.overlays {
 position: absolute;
      top: 43%;
      left: 28%;
      transform: translate(-50%, -50%);
     
      color: white;
      font-weight: bold;
      
      padding-top: 200px;
    
      z-index: 20;
}
.pera{
    
    margin-top: 20px;
}

.pera1{
    color: #FFF5EE;
    font-size: 1.6rem;
    margin-bottom: 8px;
     font-family: sans-serif;
}
.pera2{
    color: grey;
    margin-bottom: 5px;
    font-size: 1.7rem;
    font-family: sans-serif;
}
.pera3{
    color: chocolate;
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-family: sans-serif;
}